@import '../../variables';

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .subContainer {
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        position: relative;

        .bg1 {
            background-color: $primaryColor;
            border-radius: 50%;
            position: absolute;
            z-index: 0;
            animation: glow 4s infinite;

            @keyframes glow {
                from {
                    width: 0%;
                    height: 0%;
                    opacity: 2;
                }

                to {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
    }

    footer{
        position: absolute;
        bottom: 30px;
        font-size: 10px;
    }

}

@media screen and (max-width: 420px) {
    .container {
        .logoContainer {
            font-size: 24px;

            img {
                width: 30px;
                height: 30px;
                right: 20px;
            }
        }
    }
}