@import '../../variables';

.inputContainer,
.inputSubContainer,
.formContainer,
.actions,
.labelSelector,
.activeLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputContainer {
    width: 100%;

    .inputSubContainer {
        width: 100%;
        border-top: $borderLight;

        .formContainer {
            width: 100%;
            padding: 20px 10px;

            input {
                outline: none;
                border: none;
                flex: 2;
                font-family: $primaryFont;
            }

            .actions {
                gap: 10px;

                .labelSelector {
                    gap: 10px;
                    font-size: 12px;
                    position: relative;

                    .activeLabel {

                        &,
                        .labelList {
                            width: 100px;
                        }

                        gap: 5px;
                        border: $borderLight;
                        padding: 4px 10px;
                        border-radius: 10px;
                        cursor: pointer;

                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .labelList {
                        background-color: rgb(228, 228, 228);
                        display: none;
                        flex-direction: column;
                        padding: 10px 10px;
                        border-radius: 10px;
                        position: absolute;
                        top: -105px;

                        span {
                            padding: 4px 14px;
                            border-radius: 10px;
                            cursor: pointer;
                            text-align: left;
                        }

                        span:hover {
                            background-color: palegreen;
                        }
                    }

                    .labelList.active {
                        display: flex;
                    }
                }

                button {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    &:hover,
                    &:active {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    &.active {
        .inputSubContainer {
            border-top: $borderDark;

            .formContainer {
                input {
                    background: transparent;
                    color: $lightAccent;
                }

                .actions {
                    .labelSelector {
                        .activeLabel {
                            border: $borderDark;
                            color: $lightAccent;
                        }

                        .labelList {
                            background-color: $darkBg;
                            color: $lightAccent;
                            border: $borderDark;

                            span:hover {
                                background-color: $darkAccent;
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 460px) {
    .inputContainer {
        .inputSubContainer {
            padding: 0px 10px 10px 10px;

            .formContainer {
                input {
                    width: 120px;
                }

                .actions {
                    gap: 4px;
                    margin-right: -10px;

                    .labelSelector {
                        gap: 2px;
                        font-size: 10px;

                        .activeLabel {
                            width: 80px;
                            padding: 3px 8px;

                            img {
                                width: 18px;
                                height: 18px;
                            }
                        }

                        .labelList {
                            width: 80px;

                            span {
                                padding: 4px 8px;
                            }
                        }
                    }

                    button {
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}