@import '../../variables';

.searchContainer {
    background-color: $lightAccent;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 10px;

    img {
        width: 18px;
        height: 18px;
    }

    input {
        width: 100px;
        height: 100%;
        border: none;
        outline: none;
        font-family: $primaryFont;
        background: none;
        transition: linear 0.3s;
    }

    input:focus {
        width: 140px;
    }

    &.active{
        background-color: $darkAccent;

        input{
            color: $lightAccent;
        }
    }
}

@media screen and (max-width: 460px) {
    .searchContainer {
        padding: 4px 10px;

        input {
            width: 50px;
            &:focus{
                width: 50px;
            }
        }
    }
}