@import '../../variables';

.sidebarContainer {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;

    .options {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            font-family: $primaryFont;
            display: flex;
            align-items: center;
            gap: 20px;
            border: 1px solid transparent;
            outline: none;
            background: none;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: linear 0.2s;

            &.active, &:hover{
                background-color: lightblue;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    &.active{
        .options{
            button{
                color: $lightAccent;
                border: $borderDark;

                &.active, &:hover{
                    background-color: $darkAccent;
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .sidebarContainer{
        .options{
            flex-direction: row;
            justify-content: space-between;

            button{
                font-size: 14px;
                padding: 5px 15px;
                gap: 10px;
                border: $borderLight;

                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
  }

  @media screen and (max-width: 460px){
    .sidebarContainer{
        .options{

            button{
                font-size: 13px;
                padding: 4px 8px;
                gap: 5px;
                border: $borderLight;

                img{
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
  }