// FONT STYLES

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); // REGULAR 400
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); // SEMIBOLD 600

$primaryFont: 'Poppins', sans-serif;

// LIGHT MODE COLORS

$lightBg: white;
$lightAccent: rgb(227, 227, 227);
$borderLight: 1px solid $lightAccent;
 
// DARK MODE COLORS

$darkBg: #030508;
$darkAccent: #1b1b1b;
$borderDark: 1px solid $darkAccent;


