.layoutContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    .navbar {
        padding: 10px 20px;
        border-bottom: 1px solid rgb(228, 228, 228);
    }

    .mainContainer {
        display: flex;
        flex: 1;
        position: relative;

        .sidebar {
            width: 200px;
            padding: 20px;
            border-right: 1px solid rgb(228, 228, 228);
        }

        .mainContent {
            flex: 1;
            display: flex;
            flex-direction: column;

            .tasklistContainer {
                flex: 1;
                padding: 20px;
            }

            .inputContainer {
                height: fit-content;
                background-color: white;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .layoutContainer {
        .navbar{
            padding: 10px;
        }

        .mainContainer {
            flex-direction: column;

            .sidebar {
                border-right: none;
                width: auto;
                margin-bottom: -10px;
                padding: 10px;
            }

            .mainContent {

                .tasklistContainer{
                    padding: 15px 10px;
                }
                
                .inputContainer {
                    position: fixed;
                    bottom: 0;
                    z-index: +3;
                }
            }
        }
    }
}