@import '../variables';

.layoutContainer {
    height: 100%;
    display: flex;
    flex-direction: column;

    .navbar {
        padding: 10px 20px;
        border-bottom: $borderLight;
    }

    .mainContainer {
        display: flex;
        flex: 1;
        position: relative;

        .sidebar {
            width: 200px;
            padding: 20px;
            border-right: $borderLight;
        }

        .mainContent {
            flex: 1;
            display: flex;
            flex-direction: column;

            .tasklistContainer {
                flex: 1;
                padding: 20px;
            }

            .inputContainer {
                height: fit-content;
                background-color: $lightBg;
            }
        }
    }

    &.active {
        .navbar {
            border: $borderDark;
        }

        .sidebar {
            border-right: $borderDark;
        }

        .mainContent{
            .inputContainer{
                background-color: $darkBg;
            }
        }

    }
}

@media screen and (max-width: 800px) {
    .layoutContainer {
        .navbar {
            padding: 10px;
        }

        .mainContainer {
            flex-direction: column;

            .sidebar {
                border-right: none;
                width: auto;
                margin-bottom: -10px;
                padding: 10px;
            }

            .mainContent {

                .tasklistContainer {
                    padding: 15px 10px;
                }

                .inputContainer {
                    position: fixed;
                    bottom: 0;
                }
            }
        }
    }
}