@import '../../variables';

.listContainer {
    height: 440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: 0.2s linear;

    &::-webkit-scrollbar {
        width: 0;
    }

    .taskBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid rgb(228, 228, 228);
        padding: 10px 20px;
        border-radius: 10px;

        .content {
            flex: 6;
            display: flex;
            gap: 10px;

            .details {
                display: flex;
                flex-direction: column;

                @media screen and (max-width: 460px) {
                    font-size: 12px;
                }

                .label {
                    margin-top: -3px;
                    font-size: 12px;
                    font-weight: 500;

                    @media screen and (max-width: 460px) {
                        font-size: 10px;
                    }
                }

            }
        }

        .action {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 10px;

            img {
                width: 26px;
                height: 26px;
                transition: 0.2s ease-in;

                @media screen and (max-width: 460px) {
                    width: 24px;
                    height: 24px;
                }
            }

            img:hover {
                transform: scale(1.06);
            }

            img:active {
                transform: scale(0.9);
            }
        }
    }

    .taskBox:hover {
        border: 2px solid $primaryColor;
    }
}